.hero {
    margin: 0px 120px;
    margin-top: 130px;
    padding: 0;
    line-height: 1.2;
}

.hero-text {
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    font-family: Lato;
    text-shadow: 
        -2px -2px 0 black, 
        2px -2px 0 black, 
        -2px 2px 0 black, 
         2px 2px 0 black;
}